.hi video{
  width: 100%;
  height: 100%;
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background: repeat;
}
.ko{
    background-color: aliceblue;
}
.ui{
  border-radius: 50%;
}

  